<html>
<head>
    <title>render_test</title>
</head>
<body>
<ul>
    <li>dev: <%= dev %></li>
    <li>ino: <%= ino %></li>
    <li>mode: <%= mode %></li>
    <li>nlink: <%= nlink %></li>
    <li>uid: <%= uid %></li>
    <li>gid: <%= gid %></li>
    <li>rdev: <%= rdev %></li>
    <li>size: <%= size %></li>
    <li>blksize: <%= blksize %></li>
    <li>blocks: <%= blocks %></li>
    <li>atime: <%= atime %></li>
    <li>mtime: <%= mtime %></li>
    <li>ctime: <%= ctime %></li>
</ul>
</body>
</html>